BP_PRODUCTION=true
BP_MODULE_NLU_DUCKLINGURL=http://botpress_lang:8000
BP_MODULE_NLU_LANGUAGESOURCES=[{"endpoint":"http://botpress_lang:3100"}]
EXTERNAL_URL=http://subdomain.example.com

DATABASE_URL=postgres://postgres:postgress_password@postgres:5432/postgres
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres_password
PG_SSL=false

VIRTUAL_PORT=3000
VIRTUAL_HOST=subdomain.example.com
LETSENCRYPT_EMAIL=apps@example.com


DEBUG=bp:audit:* ./bp -p 2>> ./botpress.log
